body {
    background-color: navy;
    font-family: 'Fira Code', monospace;
}

.bg-black {
    background-color: #2c2f73;
}

.card-project:hover {
    border: 1px solid purple;
    box-shadow: 0 4px 8px 0 black;
    cursor: pointer;
}

.imagen-cv {
    width: 100px;
    height: 100px;
}

